<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<form method="POST" action="/directors">
<label> Name
  <input type ="text" name="name" placeholder="">
</label>
<button>X</button>
</form>

  </body>
</html>
