<% include partials/head.ejs %>
  <body>
<<<<<<< HEAD
    <% include partials/header.ejs %>
    <main>
      <div class="container">
        Hello
      </div>
    </main>
    <% include partials/footer.ejs %>
=======
test
<%= title %>

>>>>>>> add,delete, and see directors
  </body>
</html>
