<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
<% movies.forEach(function(movie) { %>
  <div>
  <%= movie.title %>
  <button href=`/movies/${movie.id}`>Edit</button>
  <button>Delete</button>
  </div>
<% }); %>

	
</body>
</html>