<!DOCTYPE html>
<html lang="en">
   <title><%= title %></title>
<% include ../partials/templates/head.ejs %>

<body>
  <div class="container">
      <h1>Movie DB Title</h1>
          <div class="col s12"></div>

      <div class="row">
        <% movies.forEach(function(movie){ %>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><%= movie.title %></div>
                <div class="collapsible-body">
                      <form action="<%= `/movies/${movie.id}?_method=DELETE` %>" method="POST">
                      <button type="submit">Delete</button>
                    </form>
                  <span>
                    <a href="<%= `/movies/${movie.id}/edit` %>">
                      <button>Edit</button>
                    </a>
                  </span>
                </div>
            </li>
          </ul>
        <% }); %>
      </div>
  </div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>

