
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create New Movie</title>
</head>
<body>
  <form action='/movies' method='POST'>
    <label>Title</label> <input type='text' name='title' />
    <label>Synopsis</label><input type="text" name='synopsis' />
    <button type='submit'>Submit</button>
  </form>
</body>
</html>
