<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
   <title>show page</title>
<% include ../partials/templates/head.ejs %>
<body>
  <span><%= movie.title %></span>
  <span><%= movie.synopsis %></span>
  <a href="/movies"><button>Back</button></a>
</body>
</html>




