<!DOCTYPE html>
<html lang="en">
 <title><%= title %></title>
<% include ../partials/templates/head.ejs %>

<body>
  <span><%= movie.title %></span>
  <span><%= movie.synopsis %></span>
</body>
</html>
