<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> movie info</title>
</head>
<body>
	<span><%= movie.title %></span>
	<span><%= movie.synopsis %></span>
	<a href="/movies"><button>Back</button></a>
</body>
</html>